body {
  background-color: #272822;
  color: whitesmoke;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 0px;
}

nav {
  display: block;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav li {
  list-style: none;
}

a:hover {
  color: hsl(0, 0%, 80%);
}

