body {
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 0px;
}

nav {
  display: block;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}

nav li {
  list-style: none;
}

nav a{
  color: black;
}

a:hover {
  /* color: hsl(0, 0%, 80%); */
  text-shadow: .1px .1px .5px black;
  text-decoration: underline 1px;
}

main h2 {
  text-align: center;
  text-decoration: underline dotted 1px;
}

footer p{
  text-align: center;
}